{{>layout/header}}

<h1>게시글</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="title">글 번호</label>
                <input type="text" class="form-control" id="id" value="{{post.id}}" readonly>
            </div>
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" value="{{post.title}}">
            </div>
            <div class="form-group">
                <label for="author"> 작성자 </label>
                <input type="text" class="form-control" id="author" value="{{post.author}}" readonly>
            </div>
            <div class="form-group">
                <label for="content"> 내용 </label>
                <textarea class="form-control" id="content">{{post.content}}</textarea>
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <a href="/posts/update/{{post.id}}" class="btn btn-info active" role="button">수정</a>
        <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
    </div>
</div>
<hr class="my-2">
<!-- 댓글 영역-->
<div class="col-md-4">
    <form>
        <div class="col-md-2" style="float:left" >
            <input type="text" class="form-control" id="comment_author" value="{{loggedName}}" readonly>
        </div>
        <div class="col-md-4" style="float:left">
            <input type="text" class="form-control" id="comment_content">
        </div>
        <button type="button" class="btn btn-primary" id="btn-com-save" style="display: inline-block">댓글 등록</button>
    </form>
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>작성자</th>
            <th>내용</th>
            <th>최종수정일</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#comments}}
        <tr id="comment-table" name="{{id}}">
            <td>{{author}}</td>
            <td>{{content}}</td>
            <td>{{modifiedDate}}</td>
            <td><button type="button" class="btn btn-danger" id="btn-com-delete">삭제</button></td>
            <td style="display:none;">{{id}}</td>
        </tr>
        {{/comments}}
        </tbody>
    </table>
    </div>
</div>

{{>layout/footer}}